* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

/** Menu Nav**/
.img {
  height: 150px;
  width: 150px;
  border-radius: 5px; }

header {
  background-color: #2BB5FD;
  padding: 0.5rem 2rem; }

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
  font-size: 20px; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  background-color: white;
  padding: 8px;
  border-radius: 3px; }
