/** Contacto*/
/** Formulario**/
form {
    width:450px ;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #0AE1F5;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    .contacto {
        color: white;
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;

    }
}