@import "contacto";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/** Menu Nav**/
.img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

header {
    background-color:#2BB5FD ;
    padding: 0.5rem 2rem;
}
    
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    background-color: white;
    padding: 8px;
    border-radius: 3px;
}

/** Footer**/ 
.footer {
    padding: 40px 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    .redes {
        text-align: center;
        padding-bottom: 25px;
        color: black;
        a {
            font-size: 24px;
            color: inherit;
            border: 1px solid black;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
            :hover {
                color: white;
            }
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        grid-template-columns: repeat(5, 1fr);        
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        li {
            flex-wrap: wrap;
            display: inline-block;
            padding: 0 15px;
            :hover {
                color: #2159DB;
            }
        }
        a{
            color: inherit;
            text-decoration: none;
            opacity: 0.9;
        }
    }
}
